{# src/Camille/PlatformBundle/Resources/views/Advert/byeworld.html.twig #}


<!DOCTYPE html>

<html>

  <head>

    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>

  </head>

  <body>

    <h1>Bye  {{ nom }} !</h1>

    <p>

        bye bye pouet pouet

    </p>

  </body>

</html>